* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #0b0b0de4;
    color: #fff;
}

.barra-topo {
    width: 100%;
    background: linear-gradient(90deg, #000000, #550202);
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo {
    font-size: 26px;
    font-weight: 700;
}

.barra-pesquisa {
    width: 280px;
    padding: 10px 15px;
    background: #151518;
    border: 2px solid #d80000;
    border-radius: 10px;
    color: #fff;
    outline: none;
    transition: .2s;
    margin-left: 900px;
}

.barra-pesquisa:focus {
    border-color: #ff0000;
    box-shadow: 0 0 10px rgba(255,0,0,0.6);
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: .2s;
}

.primario {
    background: #d80000;
}

.primario:hover {
    background: #ff0000;
}

.grid-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.card-carro {
    background: #151518;
    border-radius: 15px;
    padding: 18px;
    min-width: 260px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 0 20px rgba(255,0,0,0.15);
}

.img-carro {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: #1c1c20;
    padding: 25px;
    border-radius: 15px;
    width: 95%;
    max-width: 380px;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: #242429;
    border: none;
    outline: none;
    margin-bottom: 12px;
    color: white;
}

.fechar {
    float: right;
    font-size: 28px;
    cursor: pointer;
    color: #ff3b3b;
}

.foot {
    text-align: center;
    padding: 15px;
    margin-top: 550px;
}

@media (max-width: 600px) {

    .barra-topo {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .logo {
        font-size: 22px;
    }

    .barra-pesquisa {
        width: 90%;
    }

    .btn {
        width: 90%;
    }

    .grid-cards {
        padding: 10px;
    }

    .card-carro {
        max-width: 90%;
    }
}

@media (max-width: 900px) {

    .barra-topo {
        padding: 20px;
        flex-direction: column;
        gap: 15px;
    }

    .barra-pesquisa {
        width: 70%;
    }

    .btn {
        width: 70%;
    }

    .grid-cards {
        justify-content: center;
    }
}   

.red{
    color: red;
}

