.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    color: white;
    height: 150px;
  background-color: #000000;
  margin: 15% auto; 
  padding: 20px;
  border-radius: 15px ;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
}
#openModalBtn{

    border: transparent;
    background-color: rgba(69, 0, 0, 0.575);
    border-radius: 8px;
    font-size: 30px;
margin-left: 400px;
margin-right: 400px;
cursor: pointer;
}
#cabeca-modal{
    margin: -20px;
 padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4103038d;
    border-radius: 15px;
    height: 40px;

}